:root{
    --main-color: #3B9264;
    --main-color-shadow: #3b926457;
    --error-color: #af1a2e;
    --error-color-shadow: #af1a2e57;
    --second-color: #161616;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans JP' , sans-serif;
    font-size: 10px;
}

::selection {
    background: var(--main-color);
    color: #fff;
}

/* Firefox */
::-moz-selection {
    background: var(--main-color);
    color: #fff;
}

body,html{
    width: 100%;
    height: 100vh;
}

#entry_section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form{
    padding-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.form_address_content{
    width: 600px;
}
.form_basic_content{
    width: 600px;
}
.form_user_content{
    width: 600px;
}


.form_content_02{
    width: 100%;
}
.form_content_02_flex{
    display: flex;
    width: 100%;
}
.form_radio_flex{
    display: flex;
    color: var(--second-color);
}


.form_textbox_short{
    width: 270px;
}
.form_textbox_medium{
    width: 400px;
}
.form_textbox_max{
    width: 100%;
}
.form_textbox_YYYY{
    width: 200px;
}
.form_textbox_MMDD{
    width: 100px;
}
.form_textbox_post{
    width: 400px;
}
.form_medium_block{
    width: 400px;
}
.form_short_block{
    width: 315px;
}
.form_address_block{
    width: 100%;
}
.big_slash{
    font-size: 30px;
    font-weight: 900;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 40px;
    /* font-family: 'Montserrat',sans-serif; */
    color: var(--second-color);
}

.form_title{
    color: var(--second-color);
    font-size: 35px;
    font-weight: 700;
}
.form_subtitle{
    color: var(--second-color);
    padding-top: 60px;
    font-size: 2.5em;
    font-weight: 700;
}
.form_comment{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 16px;
    color: rgb(77, 77, 77);
}
.form_head{
    color: var(--second-color);
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 1.4em;
    font-weight: 600;
}
.form_head_comment{
    font-size: 1.3rem;
    padding-left: 20px;
    font-weight: 400;
    color: var(--second-color);
}
.form_head_20{
    color: var(--second-color);
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 20px;
}
.input_birthday_content{
    display: flex;
}
.form_address_head{
    height: 25px;
    color: var(--second-color);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.4em;
    font-weight: 600;
}

label{
    font: 16px 'Noto Sans JP', sans-serif;
    font-weight: 400;
}
.page_border{
    width: 100%;
    height: 1px;
    background-color: var(--third-color);
    margin-top: 50px;
    margin-bottom: 50px;
}
.submit_btn{
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
}
.submit_entry_btn{
    width: 600px;
    height: 60px;
    margin-bottom: 30px;
}

/* top */
.padding_top_40px{
    padding-top: 40px;
}
.padding_top_20px{
    padding-top: 20px;
}
/* bottom */
.padding_bottom_100px{
    padding-bottom: 100px;
}
.padding_bottom_40px{
    padding-bottom: 40px;
}
.padding_bottom_20px{
    padding-bottom: 20px;
}
/* left */
.padding_left_40px{
    padding-left: 40px;
}
.padding_left_20px{
    padding-left: 20px;
}
.margin_0{
    margin: 0;
}
.margin_right_10px{
    margin-right: 10px;
}
.margin_bottom_100px{
    margin-bottom: 100px;
}

.form_top{
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.form_top .form_top_head{
    width: 100%;
    font-size: 2.2rem;
    text-align: center;
    padding-bottom: 5px;
}
.form_top .form_top_comment{
    width: 100%;
    font-size: 1.4rem;
    color: gray;
    text-align: center;
}

.form_bottom_comment{
    font-size: 1.3rem;
}
.form_bottom_comment a{
    font-size: 1.3rem;
    padding-left: 5px;
    padding-right: 5px;
}
#credit_form{
    padding-top: 0px;
}

.second{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    padding-right: 5px;
}